* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  width: 100vw;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.hidden {
  display: none;
}

form {
  display: flex;
  flex-direction: column;
  gap: 5px;
}

form > input {
  width: 250px;
  height: 25px;
  padding: 10px;
}

input:focus {
  outline: none;
}

#newBook {
  width: 100px;
  height: 25px;
  background: linear-gradient(to right, green, red);
  margin-bottom: 20px;
}

.btnAddBook {
  width: 150px;
  height: 30px;
  margin: 0 auto;
  margin-top: 20px;
  background: green;
  border: none;
  border-radius: 5px;
  font-weight: bold;
  text-transform: uppercase;
}

.bookCard {
  border: 1px solid black;
}
